.list {
  flex: 1;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-top: 16px;
  margin-bottom: 16px;
}

.virtual-list {
  overflow-y: auto;
}

.list-row {
  box-sizing: border-box;
  padding: 10px 0;
}
